*,
*::after,
*::before{
  box-sizing: border-box;  
}
body{
font-family: 'Roboto', sans-serif;  
 font-weight: 400;   
 font-size: 18px;   
 line-height: 140%;
 color: #1f1e1e;
}
a{
  text-decoration: none; 
   color: inherit;
}
.container{
   max-width: 1140px; 
   margin: 0 auto; 
   padding: 0px 10px;
}
.header{
 background-image:url(../images/header_bg.jpg) ;  
 background-repeat: no-repeat;
 background-position: top center;
 background-size: cover;
}
.header__inner{
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
    min-height: 100vh;
}
.header__top{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 15x 0 50px
}
.header__phone{
    font-size: 16px;
    line-height: 130%;
    color: #fff;
    font-weight: 700;
}
.header__phone-number{
    font-weight: 400;
    margin-left: 20px;
    padding: 10px 30px 10px;
    background-color: #66441F;
    border-radius: 20px;
}
.menu{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px 0 25px;
}
.menu__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
.header__title{
    font-family: 'PT Serif', serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    margin-bottom: auto;
}
.header__descr{
    font-weight: 700;
    font-size: 20px;
    max-width: 420px;
    margin-bottom: 20px;
}
.header__btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 20px 50px 20px;
    background: #66441F;
    border-radius: 30px;
    margin-bottom: 20px;
}
.header__arrow{
    text-align: center;
    margin-bottom: 15px;
}
.direction{
padding: 100px 0;
}
.direction__inner{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 30px;
}
.direction__img{
    display: block;
}
.description__text{
    font-size: 16px;
    border: 1px solid #d9d9de;
    border-top: none;
    padding: 10px 20px 15px;
}

.container__travel-info{
    padding: 30px;
}

.travel-info{
   background-image: url(../images/travel-info-bg.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
   padding: 30px o 60px;
}
.travel-info__title{
color: #fff;
margin-bottom: 30px;
}

.title{
 text-align: center;   
 font-weight: 500;
 font-size: 36px;
 line-height: 130%;
}
.travel-info__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 55px 65px; 
}
.travel-info__img{
margin-bottom: 15px;
}
.travel-info__text{
color: #fff;
font-size: 16px;
line-height: 130%;
}
.popular{
padding: 100px 0;
}
.popular__title{
    margin-bottom: 40px;
}
.popular__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-gap: 30px;
    padding-bottom: 80px;
    border-bottom: 1px solid #d9d9de;
}
.popular__link{
    padding: 20px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 255px;
    line-height: 130%;

}
.popular__link:nth-child(3),
.popular__link:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}
.popular__link-title{
font-weight: 500;
margin-bottom: 15px;
}
.popular__link-title--big{
font-size: 24px;
}
.popular__price{
    font-weight: bold;
    font-size: 16p;
    margin-top: auto;
}
.popular__country,
.popular__time{
    margin-bottom: 15px;
}
.map{
  padding-bottom: 100px;  
}
.map__title{
  margin-bottom: 40px;  
}
.about{
    padding-bottom: 100px;
}
.about__inner{
    display: grid;
    grid-template-columns:450px 640px;
    grid-gap:30px ;
}
.about__title{
    text-align: left;
    margin-bottom: 25px;
}
.about__text{
    margin-bottom: 35px;
}
.about__link{
    font-size: 16px;
    line-height: 19px;
    color: #c4c4c4;
    text-decoration: underline;
}
.about__popup{
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    padding: 50px 0 100px;
    background: #66441F;
    color: #fff;
}
.gallery__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding-right: 160px;
}
.gallery__link{
    font-size: 16px;
    line-height: 19px;
    text-decoration : underline;
}
.gallery__item-inner{
   display: grid; 
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}
.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: 0px;
}
.slick-prev{
    right: 60px;
}
.tour{
    padding: 100px 0;
}
.tour__title{
    margin-bottom: 75px;
}
.tour__box{
    column-count: 2;
    column-gap: 50px;
    border-bottom: 1px solid #d9d9de;
    padding-bottom: 50px;
    margin-bottom: 50px;
    
}
.tour__text{
margin-bottom: 15px;
}
.tour__text span{
   font-weight: 700; 
}
.tour__info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
}
.tour__info-item{
font-weight: bold;
font-size: 50px;
line-height: 60px;
color: #886239;
font-family: 'PT Serif', serif;
text-align: center;
}
.tour__info-text{
    font-family: 'Roboto', sans-serif;  
    font-size: 20px;
    font-weight: 500;
    color: #1f1e1e;
    line-height: 25px;
}
.booking{
    background: #eaeaea;
    padding: 75px 0;
}
.booking__title{
    margin-bottom: 40px;
}
.booking__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto ;
}
.booking__input{
    width: 255px;
    height: 45px;
    border: 1px solid #d9d9de;
    padding: 10px 10px 10px;
    margin-bottom: 30px;
    font-size: 15px;
}
.booking__input::placeholder,
.booking__area::placeholder{
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    color: #c4c4c4;  
}
.booking__area{
    width: 100%;
padding: 15px;
height: 110px;
border: 1px solid #d9d9de;
resize: none;
margin-bottom: 20px;
}
.booking__btn{
    background:#66441F;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    padding: 20px 60px 20px;
    cursor: pointer;
}
.booking__label{
    font-size: 16px;
    line-height: 130px;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.booking__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
    padding-left: 45px;
}
.booking__checkbox-style{
    width: 25px;
    height: 25px;
    border: 2px solid #c4c4c4;
    border-radius: 2px;
    position: absolute;
    margin-left: -45px;
}
.booking__checkbox:checked +.booking__checkbox-style::before{
   content:'' ; 
   position: absolute;
   width: 15px;
   height: 10px;
   /* background-color: #c4c4c4; */
   border-left: 3px solid #c4c4c4;
   border-bottom: 3px solid #c4c4c4;
   margin-top: 50%;
   left: 50%;
   transform: translate(-55%,-60%) rotate(-50deg);
}